<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClockAlert.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClockAlert.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ClockAlert.Properties.Settings>
            <setting name="ClickToTalk" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartWhenWindowsStarts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CurrentSound" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AlertInterval" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartHour" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="StartMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StartTT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EndHour" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="EndMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EndTT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectedLanguage" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="TellTime" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastUpdateChecked" serializeAs="String">
                <value />
            </setting>
            <setting name="AppId" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
        </ClockAlert.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ClockAlert.Properties.Settings>
            <setting name="ProjectReleaseURL" serializeAs="String">
                <value>https://sourceforge.net/projects/clockalert/files/</value>
            </setting>
            <setting name="ProjectHome" serializeAs="String">
                <value>https://sourceforge.net/projects/clockalert/</value>
            </setting>
            <setting name="ProjectDiscussionURL" serializeAs="String">
                <value>https://sourceforge.net/p/clockalert/discussion/general/</value>
            </setting>
            <setting name="ProjectUrl" serializeAs="String">
                <value>https://clockalert.sourceforge.io/</value>
            </setting>
            <setting name="MaxLogSizeInMegaBytes" serializeAs="String">
                <value>5</value>
            </setting>
        </ClockAlert.Properties.Settings>
    </applicationSettings>
</configuration>